@font-face {
    font-family: "AmericanText";
    src: url(police/AmericanText.ttf) format("truetype");
}

html{
  background-image: url(/vampiwelry/image/fond/background_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.underline{
    width: 99.6%;
    height: 0.5vw;
    background-color: rgb(59, 24, 24);
    border:0.2vw solid white ;
}

header{
    margin: 0%;
    padding: 0%;
    width: auto;


}

body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
  }
  
#top_menu{
    width:100%;
    height: auto;  
    color: rgb(59, 24, 24);
    text-align: center;
    font-size: 1vw;
    float: none;
}


#logo{
  position: absolute;
    float: left;
    width: 15vw;
    height: 14vw;
    margin-top: -11vw;
    margin-left: -45vw;
    /*border: 0.5vw dashed red;*/
    border-radius: 100%;
    /*background-color: white;*/
    
}

#top_titre{
    color: rgb(59, 24, 24);
    font-size: 8vw;
    font-family: "AmericanText";
    padding: auto;
    margin-top: 5vw;
    text-shadow: white 1px 1px 1px ;
       
}


#top_slogan{
    color: rgb(59, 24, 24);
    font-size: 2.5vw;
    font-weight: 800;
    font-family: "AmericanText";
    text-align: center;
    text-shadow: rgb(255, 255, 255) 1px 1px 1px ;
    margin-right: 0vw;
    text-decoration: underline;   
}
#top_social{
    float: right;
    margin-right: 4vw;
    margin-top: -10vw;

}

.social_menu{
    display: inline;

}

.social_menu_a{
   
display: inline-block;

}


#icone{
    width: 4vw;
    height: 4vw;
    margin-left: 1vw;
    margin-top: 1vw;
    
}
#sous_menu{
    width: 100%;
    height:4vw;


}

#sous_menu_1{

    float: left;
    margin-top: 0.1vw;
    margin-left: -2vw;
   
}

#sous_menu_2{
    float: right;
    margin-top: 0.1vw;
    margin-right: 2vw;
}
  .sous_menu_li{

    display: inline;
    padding-left:2vw ;
  }

    .sous_menu_a {
    display: inline-block;
    border-top: 0.2vw solid white;
    border-left: 0.2vw solid white;
    border-right: 0.2vw solid white;
    border-top-left-radius: 16%;
    border-top-right-radius: 16%;
    border-bottom-left-radius:15%;
    border-bottom-right-radius:15%;
    background-color: rgb(59, 24, 24);
    color: white;
    text-decoration: none;
    font-family: "AmericanText";
    font-size: 2vw;
   
}


.sous_menu_a:hover{
  display: inline-block;
  border-top: 0.2vw solid  rgb(59, 24, 24);
  border-left: 0.2vw solid rgb(59, 24, 24);
  border-right: 0.2vw solid  rgb(59, 24, 24);
  border-top-left-radius: 16%;
  border-top-right-radius: 16%;
  border-bottom-left-radius:15%;
  border-bottom-right-radius:15%;
  background-color:white;
  color:  rgb(59, 24, 24);
  text-decoration: none;
  font-family: "AmericanText";
  font-size: 2vw;
}

.sous_menu_li #deroulant {
  border: 0.5vw groove white ;
  margin-left: 7vw ;
  padding: 0;
}

#deroulant li{
  float: left;
  padding: 0;
  text-align: center;
  list-style: none;
}

#deroulant li a{
display: block;
color: white;
background-color: rgb(59, 24, 24);
font-family: "americantext";
font-size: 1.5vw;
text-decoration: none;
padding:2vw;
}

#deroulant li:hover{

border-top:0.5vw groove white;
border-bottom:0.5vw groove white;

}

#deroulant{
  display: none;
}

#sous_menu .sous_menu_li:hover #deroulant{
  display: block;
}

#sous_menu .sous_menu_li:hover #deroulant li{
  float: none;
} 

#sous_menu .sous_menu_li #deroulant {

  position: absolute;
}

#bg_1{
    height: 24vh;
    width: auto;
}
.pic{
    background-color: black;
    height: 30%;
    width: 25%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: -4vw;
}

.pic-ctn {
    width:50%;
    height:200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }

  
  .pic-ctn > img {
    position: absolute;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
    border: white 0.5vw solid;

  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }




  #underline_0{
    width: 100%;
    height: 0.5vw;
    background-color: rgb(59, 24, 24);
    border: 0.2vw solid white;
    margin-top: 9vw;
  }
#ligne_1{
  background: linear-gradient(360deg, rgb(59, 24, 24), rgb(255, 255, 255,)) ;
}


.shop_img {
  margin-left: 15vw;
  
}

.shop_img a img{
margin-left:2vw;  
margin-top: 1vw;
margin-bottom: 1vw;
height: 30%;
width: 20%;
border: 0.3vw solid rgb(59, 24, 24);
border-radius: 20%;
}

.shop_img img:hover  {
  border: 0.3vw solid white;
  background-color: black;
  opacity: 0.5;
  box-shadow: 10px 10px 20px white;

}







#underline_1{
  width: 99.6%;
  height: 0.5vw;
  background-color: rgb(59, 24, 24);
  border: 0.2vw solid white;

}



footer{
  width: auto;
  height: auto;
  text-align: center;
  font-size: 1.3vw;
  font-family:"americantext";
}

#lien_utile{
  margin-top: 1vw;
}

#lien_utile >a{
  margin-top: 1vw;
  text-decoration: underline;
  color: white;
}
#copy_right{
  margin-top: 5vw;
  color: white;
  text-align: center;

}




#underline_2{
  width: 100%;
  height: 0.5vw;
  background-color: rgb(59, 24, 24);
  border: 0.2vw solid white;

}

/*MES MEDIA MAW 1080PX */

  @media screen and (max-width: 1080px) 
{


  html{
    width: 100%;
    height: 100%;
    background-image: url(/vampiwelry/image/fond/background_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  body{
    margin: 0%;
    padding: auto;
    width: auto;
    height: auto;
   
  }
  .underline
  {
    width: 99,6;
    background-color:rgb(59, 24, 24);
    height:1vw;
    margin-top: 10vw;
  }
  



  #icone{
    width: 5vw;
    height: 5vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
#top_titre{

  font-size: 8vw;

}

#logo{
  margin-left: -45vw;
  width: 20vw;
  height: 20vw;
  margin-top: -10vw;
  /*background-color:royalblue; */
}

#top_slogan{

  font-size: 2.5vw;
  margin-left: 0vw;
  margin-top: -7vw;
}
#sous_menu_1{
  margin-left: -6vw;

}
.sous_menu_a{
  height: 4vw;
  margin-top:8.8vw;
  margin-left: 1vw;
}


.sous_menu_a {
  display: inline-block;
  border-top: 0.3vw solid white;
  border-left: 0.3vw solid white;
  border-right: 0.3vw solid white;
  border-top-left-radius: 16%;
  border-top-right-radius: 16%;
  border-bottom-left-radius:15%;
  border-bottom-right-radius:15%;
  background-color: rgb(59, 24, 24);
  color: white;
  text-decoration: none;
  font-family: "AmericanText";
  font-size: 3vw;
}

.sous_menu_a:hover{

  display: inline-block;
  border-top: 0.3vw solid  rgb(59, 24, 24);
  border-left: 0.3vw solid  rgb(59, 24, 24);
  border-right: 0.3vw solid  rgb(59, 24, 24);
  border-top-left-radius: 16%;
  border-top-right-radius: 16%;
  border-bottom-left-radius:15%;
  border-bottom-right-radius:15%;
  background-color:white;
  color: rgb(59, 24, 24);
  text-decoration: none;
  font-family: "AmericanText";
  font-size: 3vw;

}

#deroulant li a{
  display: block;
  color: white;
  background-color: rgb(59, 24, 24);
  font-family: "americantext";
  font-size: 3vw;
  text-decoration: none;
  padding:2vw;
  }


.sous_menu_li #deroulant {
  border: 0.5vw groove white ;
  margin-left: 12vw ;
  padding: 0;
}


#sous_menu .sous_menu_li #deroulant {
  z-index: 1;
  position: absolute;
}
.pic{
  background-color: black;
  height: 20%;
  width: 35%;
  margin-top: 2vw;
  margin-bottom: -5vw;
  margin-left:0vw;
}


  .pic-ctn {
    width:50%;
  }


#underline_0{
    width: 99.6;
    background-color:rgb(59, 24, 24);
    height:1vw;
    margin-top: 2vw;

}





#lien_utile{
  margin-top: 1vw;
}

#lien_utile >a{
  margin-top: 1vw;
  text-decoration: underline;
  color: white;
  font-size: 2vw;
}
#copy_right{
  margin-top: 5vw;
  color: white;
  text-align: center;
  font-size: 2vw;

}



}
