



@font-face {
    font-family: "AmericanText";
    src: url(police/AmericanText.ttf) format("truetype");
}




.underline{
    width: 100%;
    height: 0.5vw;
    background-color: rgb(59, 24, 24);
    border:0.2vw solid white ;
}



header{
    margin: 0%;
    padding: 0%;
    width: auto;


}

body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    width: 99.5%;
}


#top_menu{
    width:100%;
    height: auto;
    background-color: black;
    color: rgb(59, 24, 24);
    text-align: center;
    font-size: 1vw;
    float: none;
}


#logo{
    float: left;
    width: 7vw;
    height: 7vw;
    margin-top: -10vw;
    margin-left: 10vw;
    border: 0.5vw dashed red;
    border-radius: 100%;
    background-color: white;
    
}

#top_titre{
    color: rgb(59, 24, 24);
    font-size: 8vw;
    font-family: "AmericanText";
    padding: auto;
    margin-top: 5vw;
    text-shadow: white 1px 1px 1px ;
       
}


#top_slogan{
    color: rgb(59, 24, 24);
    font-size: 2.5vw;
    font-weight: 800;
    font-family: "AmericanText";
    text-align: center;
    text-shadow: rgb(255, 255, 255) 1px 1px 1px ;
    margin-right: 0vw;
    text-decoration: underline;   
}
#top_social{
    float: right;
    margin-right: 4vw;
    margin-top: -10vw;

}

.social_menu{
    display: inline;

}

.social_menu_a{
   
display: inline-block;

}


#icone{
    width: 4vw;
    height: 4vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
#sous_menu{
    width: 100%;
    height:4vw;
    background-color: black;

}

#sous_menu_1{

    float: left;
    margin-top: 0.1vw;
    margin-left: -2vw;
   
}

#sous_menu_2{
    float: right;
    margin-top: 0.1vw;
    margin-right: 2vw;
}
  .sous_menu_li{

    display: inline;
    padding-left:2vw ;
  }

    .sous_menu_a {
    display: inline-block;
    border-top: 0.2vw solid white;
    border-left: 0.2vw solid white;
    border-right: 0.2vw solid white;
    border-top-left-radius: 16%;
    border-top-right-radius: 16%;
    border-bottom-left-radius:15%;
    border-bottom-right-radius:15%;
    background-color: rgb(59, 24, 24);
    color: white;
    text-decoration: none;
    font-family: "AmericanText";
    font-size: 2vw;
    
}


.sous_menu_a:hover{
  display: inline-block;
  border-top: 0.2vw solid  rgb(59, 24, 24);
  border-left: 0.2vw solid rgb(59, 24, 24);
  border-right: 0.2vw solid  rgb(59, 24, 24);
  border-top-left-radius: 16%;
  border-top-right-radius: 16%;
  border-bottom-left-radius:15%;
  border-bottom-right-radius:15%;
  background-color:white;
  color:  rgb(59, 24, 24);
  text-decoration: none;
  font-family: "AmericanText";
  font-size: 2vw;
}

#bg_1{
    background-color: black;
    height: 24vh;
    width: auto;
}
.pic{
    background-color: black;
    height: 25vh;
    width: 30vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: -10vw;
}

.pic-ctn {
    width:50%;
    height:200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    width:50%;
    height:200px;
  }
  
  .pic-ctn > img {
    position: absolute;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
    border: white 0.5vw solid;

  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }




  #underline_0{
    width: 100%;
    height: 0.5vw;
    background-color: rgb(59, 24, 24);
    border: 0.2vw solid white;
    margin-top: 4vw;
  }
#ligne_1{
  background: linear-gradient(360deg, rgb(59, 24, 24), rgb(255, 255, 255,)) ;
}

.shop_img{
  margin-left: 20vw;
  width: auto;

}


.shop_img > img{

margin-left:2vw;  
margin-top: 1vw;
margin-bottom: 1vw;
height: 50vh;
width: 15vw;
border: 0.5vw solid rgb(59, 24, 24);

}



#underline_1{
  width: 100%;
  height: 0.5vw;
  background-color: rgb(59, 24, 24);
  border: 0.2vw solid white;

}




  @media screen and (max-width: 1024px) 
{

  .underline
  {
    width: auto;
    background-color:rgb(59, 24, 24);
    height:1vw;
    margin-top: 10vw;
  }
  



  #icone{
    width: 5vw;
    height: 5vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
#top_titre{

  font-size: 8vw;

}

#logo{
  width: 8vw;
  height: 8vw;
  margin-top: -10vw;
  background-color:royalblue;
}

#top_slogan{

  font-size: 2.5vw;
  margin-left: 0vw;
  margin-top: -7vw;
}
#sous_menu_1{
  margin-left: -5vw;

}
.sous_menu_a{
  height: 4vw;
  margin-top:8.8vw;
  margin-left: 1vw;
}


.sous_menu_a {
  display: inline-block;
  border-top: 0.3vw solid white;
  border-left: 0.3vw solid white;
  border-right: 0.3vw solid white;
  border-top-left-radius: 16%;
  border-top-right-radius: 16%;
  border-bottom-left-radius:15%;
  border-bottom-right-radius:15%;
  background-color: rgb(59, 24, 24);
  color: white;
  text-decoration: none;
  font-family: "AmericanText";
  font-size: 3vw;
}

.sous_menu_a:hover{

  display: inline-block;
  border-top: 0.3vw solid  rgb(59, 24, 24);
  border-left: 0.3vw solid  rgb(59, 24, 24);
  border-right: 0.3vw solid  rgb(59, 24, 24);
  border-top-left-radius: 16%;
  border-top-right-radius: 16%;
  border-bottom-left-radius:15%;
  border-bottom-right-radius:15%;
  background-color:white;
  color: rgb(59, 24, 24);
  text-decoration: none;
  font-family: "AmericanText";
  font-size: 3vw;

}

.pic{
  background-color: black;
  height: 30vh;
  width: 35vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: -10vw;
}






#underline_0{
    width: auto;
    background-color:rgb(59, 24, 24);
    height:1vw;
    margin-top: 9vw;
}




.shop_img{
  margin-top: 5vw;
  margin-left: 15vw;
  width: auto;

}


.shop_img > img{

margin-left:2vw;  
margin-top: 1vw;
margin-bottom: 1vw;
height: 30vh;
width: 20vw;
border: 0.5vw solid rgb(59, 24, 24);

}



}
